<div class="container header clearfix">
  <nav class="hidden-xs hidden-sm">
    <ul class="nav navbar-nav pull-right">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#about">About</a></li>
      <li role="presentation"><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <button class="navbar-toggler toggler-example pull-right hidden-md hidden-lg" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span></button>
  <div class="navbar-header">
    <a class="nav-brand" id="webname">webcoder<span class="last">ph</span></a>
  </div>
</div>
